/*Outer container in hobbies section*/
#hobbies {
    border: solid black;
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    position: absolute;
    overflow: scroll;
        -webkit-overflow-scrolling: touch;
}
/*Selects conainer with activities list*/
#hobbies #activities {
    width: 80%;
    border: solid black;
    border-radius: 5px;
}

/*Img containing piano mark*/
#hobbies #piano {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 15%;
    border: none;
}

/*Img containing piano logo*/
#hobbies #piano-logo {
    width: 10%;
    margin: 50px auto;
    border: solid black;
    color: white;
}

/*Modifies size of images in hobbies container on smaller screens*/
@media screen and (max-width: 900px) {
    #hobbies #piano {
        width: 60% !important;
    }
}

/*Modifies size of images in hobbies container on smaller screens*/
@media screen and (max-width: 900px) {
    #hobbies #piano-logo {
        width: 40% !important;
    }
}