/*Revature pep labs training heading*/
#about #revature-heading {
    margin: 50px;
}

/*Div containing revature pep lab training information*/
#about #revature-section {
    height: auto;
    margin: 50px;
    display: flex;
    flex-direction: row;
}

/*Stacks Revature img on top of article in Revature information section on screens with smaller width*/
@media screen and (max-width: 900px) {
    #about #revature-section {
        flex-direction: column;
        margin: 50px 0px;
    }
}

/*Revature pep lab img*/
#about #revature-img {
    width: 40%;
    margin: auto;
    margin-right: 10%;
}

/*Increase Revature pep lab img width and space below to fit smaller screens better*/
@media screen and (max-width: 900px) {
    #about #revature-img {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
}

/*Revature pep lab article*/
#about #revature-article {
    width: 50%;
    margin: auto;
    text-align: justify;
}

/*Increase Revature article width to fit smaller screens better*/
@media screen and (max-width: 900px) {
    #about #revature-article {
        width: 90%;
    }
}