/*Div for entire MyProjects component*/
#my-projects {
    border: solid black;
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    position: absolute;
    overflow: scroll;
        -webkit-overflow-scrolling: touch;
}

/*Heading at top of MyProjects page*/
#my-projects h1 {
    width: 90%;
    margin: 5%;
    border: ridge black 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: gray;
    z-index: 1;
}

/*My Projects heading*/
#my-projects #my-projects-heading {
    margin: 50px;
}