/*Div for entire MyProjects component*/
#my-projects {
    border: solid black;
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    position: absolute;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/*Heading at top of MyProjects page*/
#my-projects h1 {
    width: 90%;
    margin: 5%;
    border: ridge black 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: gray;
    z-index: 1;
}

/*My Projects heading*/
#my-projects #my-projects-heading {
    margin: 50px;
}

/*Project heading*/
#my-projects .project-heading {
    margin: 50px;
    margin-bottom: 0px;
    font-weight: bolder;
}

/*Div containing project section*/
#my-projects .project-section {
    height: auto;
    margin: 50px;
    margin-top: 0px;
}

/*Decreases margin of project section on smaller screens*/
@media screen and (max-width: 900px) {
    #my-projects .project-section {
        margin: 0px 0px 50px 0px;
    }
}

/*project images*/
#my-projects .project-images {
    width: 50%;
    height: auto;
    margin: 50px auto;
    margin-top: 0px;
}

/*Increases width of project images on smaller screens*/
@media screen and (max-width: 900px) {
    #my-projects .project-images {
        width: 75%;
    }
}

/*Project article*/
#my-projects .project-article {
    margin: auto;
    width: 90%;
    text-align: justify;
}

/*Project Tools Used styles within article*/
#my-projects .project-article span {
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 5px;
    background-color: rgb(209, 208, 208);
    border: outset white;
}

/*Image slider arrows*/
.slick-prev:before,
.slick-next:before {
    color: black !important;
}

/*Provides spacing at top of image slider container*/
.slick-slider {
    padding-top: 12%;
}

/*Provides more spacing at top of image slider container on smaller screens*/
@media screen and (max-width: 900px) {
    .slick-slider {
        padding-top: 25%;
    }
}

/*Aligns ul li bullets to left in projects articles*/
#my-projects .project-article ul {
    padding: 15px;
}

/*fixes dots in web project portal images on small screens*/
@media screen and (max-width: 465px) {
    #web-project-portal .slick-slider {
        height: 250px;
        padding-top: 25%;
    }
}