/*Contact Me section container*/
#contact-me {
    border: solid black;
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    position: absolute;
    padding: 10% 0px;
}

/*Selects outer contact me div on smaller screens*/
@media screen and (max-width: 900px) {
    #contact-me {
        padding: 10%;
    }
}

/*Selects both card bodies*/
#contact-me .card-body {
    padding-top: 10%;
}

@media screen and (max-width: 900px) {
    #contact-me .card-body {
        padding: 0%;
    }
}

/*Linkedin section container*/
#linkedin {
    display: inline-block;
    border: solid black;
    border-radius: 15px;
    width: 40%;
    height: 50%;
    margin: auto;
    margin-right: 3%;
    margin-top: 15%;
}

/*Selects both contact cards*/
@media screen and (max-width: 900px) {
    #contact-me .card {
        display: block;
        width: 80%;
        margin: 5% auto;
        height: 40%;
    }
}

/*Linkedin image*/
#linkedin img {
    border: none;
    width: 30%;
}

/*Selects linkedin image on smaller screens*/
@media screen and (max-width: 900px) {
    #linkedin img {
        border: none;
        width: 20%;
    }
}


/*Email section container*/
#email {
    display: inline-block;
    border: solid black;
    width: 40%;
    height: 50%;
    margin: auto;
    margin-left: 3%;
    border-radius: 15px;
    margin-top: 15%;
}

/*email image*/
#email img {
    border: none;
    width: 30%;
    margin-top: 7%;
}

/*Selects email image on smaller screens*/
@media screen and (max-width: 900px) {
    #email img {
        border: none;
        width: 20%;
        margin-top: 7%;
    }
}

@media screen and (min-height: 500px) {
    #contact-me .card-body {
        padding-top: 5%;
    }
}

/*linkedin and email cards on hover*/
#contact-me .card:hover {
    color: black !important;
    border: solid black;
    background-color: aliceblue !important;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}