/*Div for entire MyProjects component*/
#my-projects {
    border: solid black;
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    position: absolute;
    overflow: scroll;
        -webkit-overflow-scrolling: touch;
}

/*Heading at top of MyProjects page*/
#my-projects h1 {
    width: 90%;
    margin: 5%;
    border: ridge black 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: gray;
    z-index: 1;
}


/*My Projects heading*/
#my-projects #my-projects-heading {
    margin: 50px;
}

/*DoConnect heading*/
#my-projects #doconnect-heading {
    margin: 50px;
}

/*Div containing DoConnect section*/
#my-projects #doconnect-section {
    height: auto;
    margin: 50px;
}

/*Decreases margin of DoConnect section on smaller screens*/
@media screen and (max-width: 900px) {
    #my-projects #doconnect-section {
        margin: 50px 0px;
    }
}

/*DoConnect images*/
#my-projects #doconnect-img {
    width: 50%;
    height: auto;
    margin: 50px auto;
}

/*Increases width of DoConnect img on smaller screens*/
@media screen and (max-width: 900px) {
    #my-projects #doconnect-img {
        width: 90%;
    }
}


/*DoConnect article*/
#my-projects #doconnect-article {
    margin: auto;
    width: 90%;
    text-align: justify;
}

/*DoConnect Tools Used styles within article*/
#doconnect-article span {
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 5px;
    background-color: rgb(209, 208, 208);
    border: outset white;
}