#skills {
    border: solid black;
    display: inline-block;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    position: absolute;
    overflow: scroll;
        -webkit-overflow-scrolling: touch;
}

#skills img{
    margin: 50px auto;
    width: 60%;
}

@media screen and (max-width: 900px) {
    #skills img {
        margin-top: 250px;
    }
}